.contact-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    align-items: center;
    padding: 20px;
    width: 100%;
    height: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    border-radius: .5rem;
    background-color: rgba(0, 0, 0, .7);


    form {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 100%;
        gap: 15px; 
        flex-grow: 1;
        justify-content: space-between; 
        height: 100%;
    }

    .infos {
        display: flex;
        flex-direction: column;
        gap: 10px;

        input {
            font-size: 1rem;
            border: 1px solid #007BFF;
            border-radius: .2rem;
        }        

        input::placeholder {
            color: rgb(192, 192, 192);
            font-family: 'source code pro', monospace;
            color: #ff7300;
            background-color: black;
        }
    }

    textarea {
        padding: 10px;
        font-size: 1rem;
        border-radius: .2rem;
        height: 120px;
        resize: none; 
        border: 1px solid #007BFF; 
        background-color: black;          
    }

    textarea::placeholder {
        color: rgb(192, 192, 192);
        font-family: 'source code pro', monospace;
        color: #ff7300;
    }
    
    .buttz {
        display: flex;
        align-items: center;
        padding: 0 10px;
        width: 600px;
        height: 100px;
        border-radius: .2rem;
        margin: auto;
        border: 1px solid #007BFF;     
        background-color: black;

            button {
                cursor: pointer;
                color: rgb(192, 192, 192);
            }
        
            button:hover {
                color: #ff7300;
            }
        }
    }

