.home {
    display: flex;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    border-radius: .5rem;


    img {
        height: 22rem;
        width: auto;
    }

    p {
        font-family: 'Cedarville Cursive', cursive;
        font-size: 1.5rem;
        margin: 1.5rem;
    }

    span {
        color: #FF7300;
        cursor: pointer;
    }
}