.home {
    display: flex;
    overflow: hidden;
    background-color: $primaryTransparent;
    box-shadow: 0 2px 5px $shadow;
    border-radius: .5rem;

    p {
        font-family: 'Cedarville Cursive', cursive;
        font-size: 1.5rem;
        margin: 1.5rem;
    }

    span {
        color: $wordSecondary;
        cursor: pointer;
    }
}

@media screen and (max-width: 680px) {
    .home {
        border: 1px solid green;
        height: 100%;
        border-radius: 0;
    }
}