.exp {
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    font-family: 'source code pro', monospace;
    width: 118vh;
    height: 100%;
    background-color: rgba(0, 0, 0, .7);
    border-radius: .5rem;
    overflow: hidden;
    border: 2px solid red !important;
}

/* Sélecteurs corrigés */
.exp h3 {
    text-align: center;
    height: 52px;
    width: 100%;
    font-family: 'Cedarville Cursive', cursive;
    font-size: 1.5rem;
    background-color: black;
    border-bottom: 1px solid #007BFF;
}

.exp .content {
    display: flex;
    justify-content: space-around;
}

.exp .content .desc .imgContainer {
    width: 662px;
    height: 174px;
}

.exp .content .desc .imgContainer img {
    height: 100%;
    width: 100%;
}

.exp .content .desc p {
    font-family: 'source code pro', monospace;
    font-size: 1.2rem;
    padding: 20px;
    height: 202px;
    overflow: auto;
    scrollbar-width: none;
    color: #c0c0c0;
}

.exp .content ul {
    min-width: 15rem;
    height: 100%;
    text-align: left;
    padding: 20px;
    height: 376px;
    overflow: scroll;
    scrollbar-width: none;
    border-left: 1px solid #007BFF;
}

.exp .content ul li {
    padding: 5px;
    margin: 5px;
    font-family: 'source code pro', monospace;
    font-weight: 700;
    font-size: 22px;
    color: #ff7300;
}

.exp .foot {
    height: 52px;
    width: 100%;
    color: #ff7300;
    padding: 10px 50px;
    font-family: 'jacquard 12', sans-serif;
    font-size: 25px;
    text-align: right;
    background-color: black;
    border-top: 1px solid #007BFF;
}
