header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    border-bottom: 1px solid #007BFF;

    nav {

        ul {
            display: flex;

            li {
                margin: 0 25px;
                font-family: 'source code pro', sans-serif;
            }
        }
    }

    .activeLanguage {
        color: #ff7300;
    }
}