/* Reset CSS - Base */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: sans-serif;
}

body {
  height: 100dvh;
  overflow: auto;
  scrollbar-width: none;
  line-height: 1.5;
  background-color: $primaryColor;
  color: $wordPrimary;
  background-image: url('/public/assets/earth.webp');
  background-size: auto 100dvh;
  background-position: bottom center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* Suppression des styles par défaut pour les éléments de liste */
ul,
ol {
  list-style: none;

  li {
    cursor: pointer;
  }
}

/* Suppression des bordures et arrière-plans par défaut */
a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

button,
input,
textarea,
select {
  background: none;
  border: none;
  outline: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

table {
  border-collapse: collapse;
  width: 100%;
}

/* Suppression des marges de certains éléments */
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  align-items: center;

  h2 {
    padding: 1.5rem;
    font-size: 1.7rem;
    text-align: center;
    width: 100%;
    background-color: $primaryTransparent;
  }

  #left, #right {
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
    position: fixed;
    bottom: 0;
    font-size: 3.2rem;
    margin: auto;
    border: none;
    font-family: 'jacquard 12', sans-serif;
    transition: all 0.3s ease;
    padding: 10px;
    color: $primaryColor;
    background-color: $wordSecondary;
    z-index: 1000;
    width: 3rem;
    border: 1px solid $primaryColor;
    border-bottom: none;
  }

  #left {
    left: 1.2rem;
  }

  #right {
    right: 1.2rem;
  }

}

svg, img {
  width: 1.7rem;
  height: 1.7rem;
}

@media (min-width: 900px) {
  #container {
    h2 {
      background-color: rgba($color: #000000, $alpha: 0);
    }

    #left {
      left: 4rem;
    }
  
    #right {
      right: 4rem;
    }
  }
}

@media (min-width: 1280px) {
  #container {
    #left, #right {
      bottom: 50%;
      transform: translateY(50%);
      border-radius: .5rem;
      background-color: rgba($color: #000000, $alpha: 0);
      color: $wordSecondary;
      font-size: 4rem;
      border: none;
    }
  
    #left {
      left: 4rem;
    }
  
    #right {
      right: 4rem;
    }
  }
}