.exp {
    background-color: $primaryTransparent;

    h3 {
        text-align: center;
        color: $borders;
    }
    
    .content {
        .desc {
            .imgContainer {
                width: 100%;
                height: auto;

                img {
                    width: 100%;
                    height: auto;
                }
            }
            
            p {
                padding: .5rem 1rem;
            }
        }

        ul {
            margin: auto;
            text-align: center;
            padding-bottom: 2rem;

            li {
                list-style: none;
                padding: .2rem 1rem;
                margin: 1rem auto;
                width: 80%;
                background-color: $primaryTransparent;
                border-radius: .5rem;
                color: $wordSecondary;
                font-size: 1.2rem;
                font-weight: 700;
            }
        }
    }

    .foot {
        color: $wordPrimary;
        font-weight: 800;
        width: 100%;
        text-align: center;
        background-color: $borders;
        position: fixed;
        left: 0;
        bottom: 0;
        padding: .6rem;
    }  
}

@media (min-width: 600px) {
    .exp {
        width: 100%;
        height: 60dvh;
        margin: auto;
        border-radius: 1rem;
        overflow: hidden;

        h3 {
            border-bottom: 1px solid $borders;
        }

        .content {
            display: flex;
            justify-content: space-between;
            align-items: center;
            
            .desc {
                .imgContainer {
                    display: flex;
                    width: 100%;
                    height: 300px;
                    overflow: hidden;
                    align-items: center;
                    justify-content: center;
                    border-right: 1px solid $borders;
                    border-bottom: 1px solid $borders;
    
                    img {
                        width: 100%;
                        height: 300px;
                        border: none;
                        object-fit: cover;
                        object-position: center;
                    }
                }

                p {
                    position: absolute;
                    border-radius: 0;
                    width: 95%;
                    height: 120px;
                    margin: auto;
                    border: 1px solid $borders;
                    margin: .5rem 1rem;
                }
            }

            ul {
                height: 300px;
                width: 90%;
                overflow: scroll;
                scrollbar-width: none;
                border-bottom: 1px solid $borders;

                li {
                    padding: .2rem;
                    background-color: $wordSecondary;
                    color: $primaryColor;             
                }
            }
        }
    }
}

@media (min-width: 900px) {
    .exp {
        width: 900px;
        height: 500px;
        margin: auto;
        border-radius: 1rem;
        overflow: hidden;

        h3 {
            border-bottom: 1px solid $borders;
        }

        .content {
            display: flex;
            justify-content: space-between;
            align-items: center;
            
            .desc {
                .imgContainer {
                    display: flex;
                    width: 100%;
                    height: 300px;
                    overflow: hidden;
                    align-items: center;
                    justify-content: center;
                    border-right: 1px solid $borders;
                    border-bottom: 1px solid $borders;
    
                    img {
                        width: 100%;
                        height: 300px;
                        border: none;
                        object-fit: cover;
                        object-position: center;
                    }
                }

                p {
                    position: absolute;
                    border-radius: 0;
                    width: 850px;
                    height: 120px;
                    margin: auto;
                    border: 1px solid $borders;
                    margin: .5rem 1rem;
                }
            }

            ul {
                height: 300px;
                width: 380px;
                overflow: scroll;
                scrollbar-width: none;
                border-bottom: 1px solid $borders;

                li {
                    padding: .2rem;
                    background-color: $wordSecondary;
                    color: $primaryColor;             
                }
            }
        }
    }
}

