.exp {
    background-color: $primaryTransparent;
    min-height: 77vh;


    h3 {
        text-align: center;
        color: $borders;
    }
    
    .content {
        .desc {
            .imgContainer {
                width: 100%;
                height: auto;

                img {
                    width: 100%;
                    height: auto;
                }
            }
            
            p {
                padding: .5rem 1rem;
            }
        }

        ul {
            margin: auto;
            text-align: center;
            padding-bottom: 2rem;

            li {
                list-style: none;
                padding: .2rem 1rem;
                margin: 1rem auto;
                width: 80%;
                background-color: $primaryTransparent;
                border-radius: .5rem;
                color: $wordSecondary;
                font-size: 1.2rem;
                font-weight: 700;
            }
        }
    }

    .foot {
        color: $wordPrimary;
        font-weight: 800;
        width: 100%;
        text-align: center;
        background-color: $borders;
        position: fixed;
        bottom: 0;
    }  
}

