footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    position: fixed;
        bottom: 0;
    border-top: 1px solid $borders;
    padding: .55rem 3rem;
    background-color: $primaryColor;
    height: 3rem;
}