header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    border-bottom: 1px solid $borders;

    nav {
        ul {
            display: flex;

            li {
                margin: 0 25px;
                font-family: 'source code pro', sans-serif;
            }
        }
    }

    .activeLanguage {
        color: $wordSecondary;
    }
}
