.card {
    background-color: $primaryTransparent;
    box-shadow: 0 2px 5px $shadow;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 1rem;
    font-family: 'source code pro', sans-serif;

    a {
        picture {           
            img {
                width: 100%;
                height: auto;
               
            }
        }
    }

    .project-card {
        padding: 1rem;
    

        .project-card-text {
            
            .project-card__links {
                border-top-left-radius: .5rem;
                border-top-right-radius: .5rem;
                background-color: $primaryColor;
                padding: 10px;
                text-align: center;
                border-bottom: 1px solid $borders;

                a {
                    margin: 2rem;
                    color: $wordSecondary;
                    
                    img {
                        height: 3rem;
                        width: auto;
                    }
                }

                
            }

            
        }
        
        #description {
            padding: .5rem;
            background-color: $primaryTransparent;
        }

        .tech {
            border-bottom-left-radius: .5rem;
            border-bottom-right-radius: .5rem;
            width: 100%;
            font-style: normal;
            color: $wordSecondary;
            background-color: $primaryColor;
            padding-left: .7rem;
            height: 3rem;
            font-weight: 700;
            border-top: 1px solid $borders;
            margin-bottom: 2rem;
        }
    }
}