.card {
    background-color: $primaryTransparent;
    box-shadow: 0 2px 5px $shadow;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'source code pro', sans-serif;

    a {
        picture {           
            img {
                width: 100%;
                height: auto;
               
            }
        }
    }
        
        #description {
            padding: 1rem;
            margin: 1rem;
            border-radius: .5rem;
            background-color: $primaryTransparent;
        }

        .tech {
            text-align: center;
            margin: auto;
            padding-bottom: 3rem;

            li {
                list-style: none;
                padding: .2rem 1rem;
                margin: 1rem auto;
                width: 80%;
                background-color: $primaryTransparent;
                border-radius: .5rem;
                color: $wordSecondary;
                font-size: 1.2rem;
                font-weight: 700;
                
            }
        }

        .project-card {
            
            .project-card-text {
                
                .project-card__links {
                    padding: .4rem;
                    position: fixed;
                    left: 0;
                    bottom: 0;
                    width: 100%;
                    text-align: center;
                    color: $borders;
                    background-color: $borders;
    
                    a {
                        margin: 2rem;;
                        color: $primaryColor;
                        
                        svg {
                            height: 2rem;
                            width: auto;
                        }
                    }
    
                    
                }
    
                
            }
    }
}

@media (min-width: 540px) {
    .card {
        a {
            picture {
                display: flex;
                width: 100%;
                align-items: center;
                justify-content: center;

                img {
                    max-width: 600px;
                    height: auto;
                    border: 1px solid $wordPrimary;
                }
            }
        }
    }

    .project-card {
        max-width: 600px;
        margin: 0 auto;
    }
}

@media (min-width: 768px) {
    .card {
        width: 800px;
        height: 450px;
        margin: auto;
        border-radius: 1rem;
        overflow: hidden;
        flex-direction: row;
        justify-content: space-between;
        padding: 0;

        a {
            picture {
                display: flex;
                width: 100%;
                height: 300px;
                overflow: hidden;
                align-items: center;
                justify-content: center;
                border-right: 1px solid $borders;
                border-bottom: 1px solid $borders;

                img {
                    width: auto;
                    height: 300px;
                    border: none;
                }
            }
        }
    }

    .project-card {
        width: 100%;
        padding: 0;

        #description {
            border-radius: 0;
            width: 100%;
            height: 300px;
            margin: 0;
            overflow: scroll;
            scrollbar-width: none;
            border-bottom: 1px solid $borders;
        }

        .tech {
            position: absolute;
            width: 70%;
            left: 15%;

            ul {
                margin: auto;
                width: 600px;

                li {
                    margin: .2rem;
                    width: 100%;
                }
            }
        }
    }
}