.card {
    background-color: $primaryTransparent;
    box-shadow: 0 2px 5px $shadow;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'source code pro', sans-serif;

    a {
        picture {           
            img {
                width: 100%;
                height: auto;
               
            }
        }
    }
        
        #description {
            min-height: 32dvh;
            padding: 1rem;
            margin: 1rem;
            border-radius: .5rem;
            background-color: $primaryTransparent;
        }

        .tech {
            text-align: center;
            margin: auto;
            padding-bottom: 3rem;

            li {
                list-style: none;
                padding: .2rem 1rem;
                margin: 1rem auto;
                width: 80%;
                background-color: $primaryTransparent;
                border-radius: .5rem;
                color: $wordSecondary;
                font-size: 1.2rem;
                font-weight: 700;
                
            }
        }

        .project-card {
            
            .project-card-text {
                
                .project-card__links {
                    padding: .2rem;
                    position: fixed;
                    bottom: 0;
                    width: 100%;
                    text-align: center;
                    color: $borders;
                    background-color: $borders;
    
                    a {
                        margin: 2rem;
                        color: $primaryColor;
                        
                        img {
                            height: 1rem;
                            width: auto;
                        }
                    }
    
                    
                }
    
                
            }

        .bot {
            

        }
    }
}